option_settings:
  aws:elasticbeanstalk:application:environment:
    php_value_memory_limit: "2048M" # Set the desired memory limit (e.g., 256M for 256 MB)
    php_value_max_execution_time: "60000" # Set the desired maximum execution time in seconds (e.g., 60 for 1 minute)
    php_value_max_input_time: "60000" # Set the desired maximum input time in seconds (e.g., 60 for 1 minute)
    php_value_post_max_size: "2048M" # Set the desired maximum size of POST data allowed (e.g., 32M for 32 MB)
    php_value_upload_max_filesize: "2048M" # Set the desired maximum size of an uploaded file (e.g., 32M for 32 MB)
    php_value_max_file_uploads: "200" # Set the desired maximum number of files that can be uploaded simultaneously (e.g., 20)
    php_value_max_input_vars: "10000" # Set the desired maximum number of input variables (e.g., 1000)
