container_commands:
    01-create_required_directories:
        command: "mkdir -p storage/logs storage/framework/cache storage/framework/sessions storage/framework/views bootstrap/cache"
    06-add_ec2_user:
        command: "usermod -aG webapp ec2-user || echo done "
    18-optimize_clear:
        command: "php artisan optimize:clear"
    19-optimize:
        command: "php artisan optimize"
    20-flush_queue:
        command: "php artisan queue:flush"
    22-restart_queue:
        command: "php artisan queue:restart"
    23-migrate:
        command: "php artisan migrate --force"
        leader_only: true
    24-seed: 
        command: "php artisan db:seed --force --class=DeploymentSeeder"
        leader_only: true
    25-queue_service_enable:
        command: "systemctl enable --now laravel_worker"
    26-queue_service_restart:
        command: "systemctl restart laravel_worker"
    100-set_proper_owner:
        command: "chown -R webapp:webapp ."
    102-set_storage_access:
        command: "chmod -R 777 storage"
    103-set_storage_owner:
        command: "chown -R webapp:webapp storage"
    104-set_bootstrap_access:
        command: "chmod -R 777 bootstrap"
    105-set_bootstrap_owner:
        command: "chown -R webapp:webapp bootstrap"
files: 
    /opt/elasticbeanstalk/tasks/taillogs.d/laravel-logs.conf: 
        content: /var/app/current/storage/logs/laravel.log
        group: root
        mode: "000755"
        owner: root
    /etc/systemd/system/laravel_worker.service:
        mode: "000755"
        owner: root
        group: root
        content: |
            # Laravel queue worker using systemd
            # ----------------------------------
            #
            # /lib/systemd/system/queue.service
            #
            # run this command to enable service:
            # systemctl enable queue.service

            [Unit]
            Description=Laravel queue worker

            [Service]
            User=webapp
            Group=webapp
            Restart=always
            ExecStart=/usr/bin/nohup /usr/bin/php /var/www/html/artisan queue:work --daemon

            [Install]
            WantedBy=multi-user.target
    /etc/cron.d/laravel_worker:
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * *  webapp   /usr/bin/php /var/www/html/artisan schedule:run >> /dev/null 2>&1

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/laravel_worker.bak"
